
/* facilita os cálculos de tamanho de componentes e imagens */
html {
    box-sizing: border-box;
}

/* Como box-sizing não é hereditário, este macete abaixo garante que todo mundo seja sempre border-box */
*, *::before, *::after {
    box-sizing: inherit;
}

.row::after {
    content: '';
    display: table;
    clear: both;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
    width: 97%;
    max-width: 1200px;
    /* sempre centralizado na tela com margin: 0 auto */
    margin: 0 auto;
    float: none;
    background-color: #ffffff;
}

div img {
    width: 100%;
}

h3 {
    font-size: 36px;
    font-weight: bold;
}

.col-2-4, .col-4, .col-1-2-4, .col-3-4, .col-4-1 {
    width: 92%;
    margin-left: 4%;
    margin-right: 4%;
    min-height: 1px;
    padding: 0.5em;
}

.col-2-4 {
    background-color: #29009C;
    color:#ffffff;
    text-align: center;
}

.col-4 {
    background-color: #5769FF;
/*    max-height: 405px; */
    font-size: 24px;
    text-align: center;
}

.col-1-2-4 {
    background-color: #818FFF;
}

.col-3-4 {
    background-color: #BBC2FC;
}

.col-4-1 {
    background-color: #B7D9ED;
}

.last-row {
    background-color: #212075;
    text-align: left;
    color: #ffffff;
}

.last-row h3 {
    text-align: center;
}

.col-1-2-4 p {
    text-align: center;
    font-size: 18px;
}

.col-4 p {
    margin: 2em;
}

.col-3-4 p, .col-4-1 p {
    text-align: left;
    font-size: 18px;
}

.titulo-principal {
    padding: 1em;
}

.titulo-principal h1 {
    font-size: 36px;
    font-weight: bold;
}

.titulo-principal p {
    font-size: 18px;
}

.last-row p {
    font-size: 18px;
}

.last-row p {
    padding: 0;
    margin: 1em 1em;
}

.com-cachorro {
    font-size: 12px;
}

.dog-1 {
    max-width: 133px;
    /*margin-bottom: 100%;*/
    margin-right: 1em;
}

.dog-2 {
    border-radius: 35px;
    max-height: 222px;
    max-width: 235px;
    margin-top: 2em; 
}

.dog-3 {
    max-height: 302px;
    max-width: 273px;
}

.dog-4 {
    max-height: 207px;
    max-width: 219px;
}

.dog-5 {
    max-height: 293px;
    max-width: 183px;
}

.dog-6 {
    display: block;
    max-height: 188px;
    max-width: 199px;
    margin: auto;
}

.com-cachorro img {
    float: left;
}

.footer {
    color: #ffffff;
    background-color: #1456FF;
    max-height: 61px;
}

/* tablet */
@media only screen and (min-width: 480px) {

    div img {
        width: 100%;
    } 

    .col-2-4 {
        min-height: 210px;
    }

    .col-4 {
        max-height: 412px;
    }

    .dog-1 {
        /*margin-bottom: 100%;*/
        max-width: 240px;        
    }

    .dog-2 {
        max-height: 292px;
        max-width: 315px;
    }

    .dog-3 {
        max-height: 302px;
        max-width: 273px;
    }

    .dog-4 {
        max-height: 296px;
        max-width: 245px;
    }

    .dog-5 {
        max-height: 291px;
        max-width: 200px;
    }

    .col-1-2-4 {
        margin-right: 0;
        padding: 0.5em;
        float: left;
        width: 44%;
    }

    .dog-6 {
        margin-right:0 auto;
        padding: 0.5em;
        max-height: 188px;
        max-width: 199px;
        width: 20%;
        float: right;
    }

    .last-row p {
        text-align: center;
    }

    .footer {
        max-height: 64px;
    }
    
}

/* desktop */
@media only screen and (min-width: 768px) {

    div img {
        width: 100%;
    }

    .dog-1 {
        max-width: 240px;
        /*margin-bottom: 100%;*/
        margin-top: 2em;
        margin-left: 0.5em;
        margin-right: 0.5em;
    }

    .dog-2 {
        max-height: 394px;
        max-width: 536px;
    }

    .dog-3, .dog-5 {
        max-height: 279px;
        max-width: 211px;
    }

    .dog-4 {
        max-height: 296px;
        max-width: 308px;
    }

    .com-cachorro p {
        margin: 2em 0.5em;
    }

    .col-4 {
        max-height: 557px;
    }

    .col-4-1 {
        margin-right:0 auto;
        padding: 0.5em;
        max-height: 545px;
        width: 20%;
        float: right;
    }

    .col-2-4 {
        margin-right: 0;
        padding: 0.5em;
        float: left;
        max-height: 186px; 
        width: 44%;
    }

    .col-1-2-4 {
        margin-right: 0;
        padding: 0.5em;
        float: left;
        width: 20%;
    }

    .col-3-4 {
        margin-right: 0;
        padding: 0.5em;
        float: left;
        width: 68%;
    }

    .footer {
        max-height: 64px;
    }

}